*.ipch
*.opendb
*.db
*.db-shm
*.db-wal
*.bin
*.ilk
*.log
*.tlog
*.obj
*.idb
*.pdb
*.exe
*.pdb
*.obj
*.vsidx
*.recipe
.vs/NYP_Framework/v17/.suo
App/Debug/App.log
.vs/NYP_Framework/v16/.suo
.vs/NYP_Framework/v16/Browse.VC.db
Library/Debug/Library.log
Library/Debug/Library.Build.CppClean.log
.vs/NYP_Framework/v16/.suo
App/Debug/App.log
App/Maps/IslandBG.csv
App/Maps/IslandFG.csv
App/Maps/DungeonBG.csv
App/Maps/DungeonFG.csv
