
*.ipch
*.opendb
*.db
*.db-shm
*.db-wal
*.bin
*.db
*.db-wal
*.db-shm
.vs/NYP_Framework/v17/.suo
*.ilk
*.log
*.obj
*.idb
*.pdb
*.exe
*.pdb
*.obj
*.db
*.db-shm
.vs/NYP_Framework/v17/.suo
*.vsidx
*.vsidx
*.db-shm
*.db-wal
*.db
*.db-shm
*.db-wal
*.recipe
*.ilk
*.log
*.obj
*.tlog
*.log
*.db
.vs/NYP_Framework/v17/.suo
*.db
.vs/NYP_Framework/v17/.suo
*.db
*.db
*.db
*.db
*.db
*.db
*.db
